<main class="admin">
  <%= render 'bloak/admin/sidebar' %>

  <div class="container mt-5">
    <div class="row">
      <div class="col"><h1>Preview Image</h1></div>
      <div class="col-1 position-relative">

        <a href="<%= @image.image_url %>" class="btn btn-secondary position-absolute top-50 end-0 translate-middle-y me-2">
          <i class="far fa-download"></i>
        </a>

      </div>
    </div>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Admin</a></li>
        <li class="breadcrumb-item"><a href="<%= admin_images_path %>">Images</a></li>
      <li class="breadcrumb-item active" aria-current="page">Preview</li>
      </ol>
    </nav>

    <div class="mt-5"></div>
    <div class="mt-5 bordered shadow p-5 text-center">
      <img src="<%= @image.image_url %>" alt="">
    </div>
  </div>
</main>

