<div class="d-none d-md-block post-aside">
  <div class="mt-5"></div>
  <div class="toc p-3">
    <h5 class="title is-5">Table of Contents</h5>
    <%= @post.render_toc(Bloak.max_toc_depth) %>
  </div>
</div>