<% content_for :title, "#{@active_tag.camelcase} Articles" %>

<%= render 'featured_posts' %>

<div class="container mt-5 mb-5 py-md-0 px-2 px-md-5 d-flex flex-row justify-content-between">

  <div class="d-none d-md-block mt-5">
    <%= render 'topics' %>
  </div>

  <div class="d-block flex-grow-1 mt-4 mb-5">
    <%= render 'post_list' %>
  </div>
</div>

