<% content_for :title, @post.title %>

<% set_meta_tags(
  author: @post.author_name,
  description: @post.summary,
  og: {
    url: request.url,
    type: 'article',
    title: @post.title,
    description: @post.summary,
    image: @post.cover_image_url
  }
) %>

<div class="container mt-5 mb-5">
  <div class="d-flex flex-row justify-content-around">
    <%= render @post %>
    <%= render 'post_aside' %>
  </div>
</div>
