<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-light fixed-top bg-white py-3 px-md-5">
    <div class="container-fluid">
      <a href="<%= root_path %>" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-dark text-decoration-none">
        <span class="d-inline-block"><img src="<%= asset_path('logo.png') %>" alt="Site logo" class="site-logo"></span>
        <span class="d-inline-block ms-2 fs-5"><%= Bloak.site_name %></span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
        </ul>

        <div class="d-flex">
          <%= render 'search_box' %>
        </div>
      </div>
    </div>
  </nav>
</header>