<div class="d-flex">
  <%= form_with(url: search_path, method: :post, local: true) do |form| %>
    <div class="input-group">
      <%= form.text_field :query,
        value: @query,
        placeholder: 'Search articles',
        class: 'form-control',
        aria: {label: "Article title or content"}
      %>
      <% if @query.present? %>
        <%= link_to posts_path, class: "btn btn-danger", aria: {label: 'clear search'} do %>
          <i class="fas fa-times"></i>
        <% end %>
      <% else %>
        <%= button_tag class: 'btn btn-primary', aria: {label: 'search' } do %>
          <i class="fas fa-search"></i>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>