.post-content {
  font-size: 18px;
  line-height: 30px;

  color: var(--bloak-text);

  ul {
    margin-top: 0.5rem;
    margin-bottom: 1rem;

    li {
      margin: 0.5rem;
    }
  }

  pre.highlight {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    border: 1px solid #000;
    border-radius: 8px;
    overflow: hidden;
    padding: 1rem;
    line-height: 1.5em;
    font-size: 0.8em;

    code {
      font-family: unset;
      background-color: unset;
      padding: unset;
    }
  }

  p code {
    color: var(--bloak-code-text);
  }

  blockquote {
    background-color: var(--bloak-blockquote-bg);
    padding: 1.5em;
  }

  code {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
      "Courier New", monospace;
    background-color: var(--bloak-code-bg);
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
  }

  .title {
    margin-bottom: 1.5rem;
    font-weight: 600;

    a.anchor {
      display: none;
    }
  }

  .title.is-1 {
    color: var(--bloak-heading);
    font-size: 42px;
    line-height: 44px;
    font-weight: 500;
  }

  .title.is-2 {
    color: var(--bloak-heading);
    font-size: 28px;
    line-height: 32px;
    font-weight: 500;
    margin-top: 1.875em;
    margin-bottom: 0.9375em;
    clear: both;
  }

  .title.is-3 {
    color: var(--bloak-heading);
    font-size: 24px;
    line-height: 38px;
    font-weight: 400;
    margin-top: 1.8em;
    margin-bottom: 1.2em;
  }

  .title.is-4 {
    color: var(--bloak-heading);
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    margin-top: 1.2em;
    margin-bottom: 0.8em;
  }

  .title.is-5 {
    color: var(--bloak-heading);
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    margin-top: 1em;
    margin-bottom: 0.6em;
  }

  img {
    margin-top: 2rem;
    width: 100%;
  }

  .media-label {
    margin-top: 12px;
    line-height: 1.5;
  }

  p {
    font-style: normal;
    margin-bottom: 1.666667em;

    strong {
      font-weight: 600;
    }
  }

  .table-of-contents {
    background-color: #f8f8f8;
    padding: 1em;
    border-radius: 5px;
    margin-top: 2em;
    margin-bottom: 2em;

    .toc-title {
      font-size: 1.5em;
      padding-top: 0.5em;
      padding-left: 0.8em;
      padding-right: 1em;
      padding-bottom: 0.5em;
    }
  }

  table {
    width: 100%;
    margin-top: 1.5em;
    margin-bottom: 2em;
    border-collapse: collapse;
    font-size: 0.9em;

    th,
    td {
      padding: 0.6em 1em;
      border: 1px solid #ddd;
      text-align: left;
    }

    th {
      background-color: var(--bloak-code-bg);
      font-weight: 600;
    }

    tr:nth-child(even) {
      background-color: #fafafa;
    }
  }

  [id]::before {
    content: "";
    display: block;
    height: 125px;
    margin-top: -125px;
    visibility: hidden;
  }
}